.card {
  background-color: white;
  text-align: center;
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  border-width: 0.25rem;
  box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );

  -moz-osx-font-smoothing: grayscale; 
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden; 
  -webkit-transform: translateZ( 0 ); 
  transform: translateZ( 0 ); 
  transition: -webkit-transform .25s ease-out; 
  transition: transform .25s ease-out; 
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.card:hover {
  -webkit-transform: scale( 1.05 ); 
  transform: scale( 1.05 );
}

img {
  width: 250px;
}