.card {

  /* background-color: white; */
  /* mix-blend-mode: multiply; */
  text-align: center;
  display: inline-block;
  /* padding: .5rem; */
  border-radius: 11px;
  margin: 0.5rem;
  box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );

  -moz-osx-font-smoothing: grayscale; 
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden; 
  -webkit-transform: translateZ( 0 ); 
  transform: translateZ( 0 ); 
  transition: -webkit-transform .25s ease-out; 
  transition: transform .25s ease-out; 
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.card:hover {
  -webkit-transform: scale( 1.05 ); 
  transform: scale( 1.05 );
}

img {
  width: 250px;
  vertical-align: middle;
  border-radius: 11px;
}

.smallCard {
  width: 150px;
  border-radius: 6px;
}