.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
  margin: 0 0 1rem 0;
  background-color: lightgrey;
  border-radius: 3px;
}

.nav-title {
  color: rgb(41, 40, 40);
  margin: 0 0 0 1rem;
}

.nav-links {
  list-style: none;
}

.nav-links a {
  display: block;
  padding: 0 0.5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
