.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
  margin: 0 0 1rem 0;
  background-color: rgb(62, 171, 218);
  border-radius: 3px;
}

.nav-links {
  list-style: none;
}

.nav-links a {
  display: block;
  padding: 0 0.5rem;
  text-decoration: none;
  color: rgb(53, 52, 51);
  font-weight: 700;
  /* font-weight: bold; */
}

.logo {
  height: 50px;
  width: auto;
  border-radius: 6px;
  margin: 0 0 0 1rem;
}